<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>성공회대학교</title>

    <% include ../common/css.ejs %>


</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include ../common/nav.ejs %>

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>임원 프로필</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="x_panel">
                                <div class="x_content" >
                                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left" >
                                        <div class="profile_img"  >
                                          <% if (profileImg==false) { %>
                                          <img src="/profileImage/user.png" alt="..." class="img-circle profile_img" id="profileImg">
                                          <% } else {%>
                                          <img src="/profileImage/<%= userImformation.id %>_Profile.jpg" alt="..." class="img-circle profile_img" id="profileImg">
                                          <% } %>
                                            <!-- <img class="img-responsive avatar-view" src="/res/production/images/user.png" alt="Avatar" title="Change the avatar" style="height:48vh;weight:36vw;"> -->
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-12" >
                                        <h3><%=userImformation.name%></h3><br/>

                                        <ul class="list-unstyled user_data">
                                            <li class="m-top-xs">
                                                <i class="fa fa-group">기수 : <%=userImformation.grade%>기</i>
                                            </li>
                                            <br/>

                                            <% if(userImformation.is_phone_number == 0) { %>
                                              <li class="m-top-xs">
                                                  <i class="fa fa-mobile">휴대전화 : 비공개</i>
                                              </li>
                                            <% } else if(userImformation.is_phone_number == 1) { %>
                                              <li class="m-top-xs">
                                                  <i class="fa fa-mobile">휴대전화 : <%=userImformation.phone_number%></i>
                                              </li>
                                            <% } %>
                                            <br/>

                                            <% if(userImformation.is_social_status == 0) { %>
                                              <li>
                                                  <i class="fa fa-briefcase user-profile-icon"></i>소속지위 : 비공개
                                              </li>
                                            <% } else if(userImformation.is_social_status == 1) {%>
                                              <li>
                                                  <i class="fa fa-briefcase user-profile-icon"></i>소속지위 : <%=userImformation.social_status%>
                                              </li>
                                            <% } %>
                                            <br/>

                                            <% if(userImformation.is_company_number==0) { %>
                                              <li class="m-top-xs">
                                                  <i class="fa fa-mobile">직장전화 : 비공개</i>
                                              </li>
                                            <% } else if(userImformation.is_company_number==1) { %>
                                              <li class="m-top-xs">
                                                  <i class="fa fa-mobile">직장전화 : <%=userImformation.company_number%></i>
                                              </li>
                                            <% }%>
                                            <br/>

                                            <% if(userImformation.is_email == 0) {%>
                                              <li class="m-top-xs">
                                                  <i class="fa fa-paper-plane-o">이메일 : 비공개</i>
                                              </li>
                                            <% } else if(userImformation.is_email == 1) { %>
                                              <li class="m-top-xs">
                                                  <i class="fa fa-paper-plane-o">이메일 : <%=userImformation.email%></i>
                                              </li>
                                            <% }%>
                                            <br/>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <button id="add" type="button" class="btn btn-default" style="float:right;" onClick="location.href='/users/userManagerList/<%=user.category_id%>/<%=userImformation.grade%>'">목록으로</button>
                    </div>

                </div>

            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    성공회대학교 동문회 관리 시스템
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <% include ../common/script.ejs %>
</body>

</html>
