<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>성공회대학교</title>
      <% include ../common/css.ejs %>

    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
              <% include ../common/nav.ejs %>



                    <!-- page content -->
              <div class="right_col" role="main">

                  <img src="/res/production/images/함께맞는비.jpg" alt="..." class="img-main">

                  <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="x_panel">
                              <div class="x_title">
                                  <h2>공지사항
                                  </h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                      <li>
                                          <a href="/board/list/1">
                                              <i>더보기</i>
                                          </a>
                                      </li>
                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="x_content">
                                  <div class="dashboard-widget-content">

                                      <ul class="list-unstyled timeline widget">
                                        <%
                                          for (var i =0 ; i<row.length; i++){
                                            var table = row[i];
                                        %>
                                          <li>
                                              <div class="block">
                                                  <div class="block_content">
                                                      <h2 class="title">
                                                          <a href="/board/read/<%=table.id%>"><%=table.title%></a>
                                                      </h2>
                                                      <div class="byline">
                                                          <span><%=table.create_time%></span>
                                                          <a><%=table.user_name%></a>
                                                      </div>
                                                      <p class="excerpt"><%=table.content%>
                                                      </p>
                                                  </div>
                                              </div>
                                          </li>
                                          <%}%>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--자유게시판-->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="x_panel">
                              <div class="x_title">
                                  <h2>자유게시판
                                  </h2>
                                  <ul class="nav navbar-right panel_toolbox">
                                      <li>
                                          <a href="/board/list/2">
                                              <i>더보기</i>
                                          </a>
                                      </li>
                                  </ul>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="x_content">

                                  <table class="table table-striped">
                                      <thead>
                                          <tr>
                                              <th>번호</th>
                                              <th>날짜</th>
                                              <th>이름</th>
                                              <th>제목</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <%
                                            for(var i=0; i<10; i++){
                                              var listv = list[i];
                                        %>
                                          <tr>
                                              <th scope="row"><a href="/board/read/<%=listv.id%>"><%=i+1%></a></th>
                                              <td><%=listv.create_time%></td>
                                              <td><%=listv.user_name%></td>
                                              <td><%=listv.title%></td>
                                          </tr>
                                          <%}%>

                                      </tbody>
                                  </table>

                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>

              </div>
          </div>
          <!-- /page content -->
        </div>
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

<% include ../common/script.ejs %>
</body>
</html>
