<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>성공회대학교</title>
        <% include ../common/css.ejs %>
        <!-- jQuery -->
        <script src="/res/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/res/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/res/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/res/assets/js/jquery.backstretch.min.js"></script>
        <script src="/res/assets/js/wow.min.js"></script>
        <script src="/res/assets/js/retina-1.1.0.min.js"></script>
        <script src="/res/assets/js/waypoints.min.js"></script>
        <script src="/res/assets/js/scripts.js"></script>
    </head>

    <style>
      table{
        font-size:20px;

      }
    </style>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
              <% include ../common/nav.ejs %>

            <!-- page content -->
            <div class="right_col" role="main">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <%if(board_id=="1"){%>
                      <h2>공지사항</h2>
                      <%}else{%>
                        <h2>자유게시판</h2>
                      <%}%>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="row">
                        <div class="col-sm-7 col-xs-1">
                        </div>

                        <div class="col-sm-3 col-xs-6">
                          <div class="input-group">
                            <form method="post">
                            <div class="input-group-btn">
                              <input type="text" name="srchText" class="form-control" aria-label="Text input with dropdown button" style="width:350px;" value="<%=srchText%>">
                              <select name="srchType" class="btn btn-default dropdown-toggle" style="max-width:100%; margin:-5; padding-top:8px; padding-bottom:8px;">
                                <option value="x" <%="x"==srchType ? "selected" : ""%>>검색조건</option>
                                <option value="title" <%="title"==srchType ? "selected" : ""%>>제목</option>
                                <option value="user_name" <%="user_name"==srchType ? "selected" : ""%>>작성자</option>
                                <span class="caret"></span>
                              </select>
                              <button class="btn btn-primary" type ="submit">검색</button>
                              <form>
                            </div>
                            <!-- /btn-group -->
                            <form>
                          </div>

                        </div>
                        </div>
                      <div class="row">
                      <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성 날짜</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%
                              for(var i=0; i<row.length; i++){
                                var table=row[i];
                          %>
                          <tr>
                            <td><a data-url="/board/read/<%=table.id%>"><%=table.title%></a></td>
                            <td><%=table.title%></td>
                            <td><%=table.user_name%></td>
                            <td><%=table.create_time%></td>
                          </tr>
                          <%
                            }
                          %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  </div>
                  <div class="pull-right">
                    <a class="btn btn-primary" href="/board/write/<%=board_id%>">글쓰기</a>
                    <%if(srchType=="x"){%>
                      <button><a href="/board/list/<%=board_id%>/<%=currentPage%>">더보기</a></button>
                    <%}else if(srchType!="" || srchText!=""){%>
                      <button><a href="/board/list/<%=board_id%>/<%=srchType%>/<%=srchText%>/<%=currentPage%>">더보기</a></button>
                    <%}else{ %>
                      <button><a href="/board/list/<%=board_id%>/<%=currentPage%>">더보기</a></button>
                    <%}%>
                    <input type="hidden" name="currentPage" value="<%=currentPage%>"/>
                  </div>
                </div>
                </div>
              </div>
          </script>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

    </div>
  </div>
    <% include ../common/script.ejs %>
</body>
</html>
