<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>성공회대학교</title>

        <% include ../common/css.ejs %>
        <!-- jQuery -->
        <script src="/res/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/res/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/res/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/res/assets/js/jquery.backstretch.min.js"></script>
        <script src="/res/assets/js/wow.min.js"></script>
        <script src="/res/assets/js/retina-1.1.0.min.js"></script>
        <script src="/res/assets/js/waypoints.min.js"></script>
        <script src="/res/assets/js/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </head>
    <style>
      label{
        font-size:20px;
      }
      span{
        font-size:17px;
      }
    </style>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <% include ../common/nav.ejs %>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 col-lg-10">
              <div class="x_panel">
                <div class="x_title">
                  <%if(board_id%2==0){%>
                  <h2>공지사항</h2>
                  <%}else{%>
                  <h2>자유게시판</h2>
                  <%}%>

                  <div class="clearfix"></div>
                </div>
              <div class="x_content">
                  <label>제목:</label><span><%=rows.title%></span><br/>
                  <label>작성자:</label><span><%=rows.user_name%></span><br/>
                  <label>작성일:</label><span><%=rows.create_time%></span><br/>
                  <label>첨부된 파일:</label>
                  <%if(file!=null){%>
                    <span data-download="<%=file.id%>"><%=file.name%></span>
                  <%}%>
                  <div id="editor" class="editor-wrapper" style="min-height:350px;">
                    <%=rows.content%>
                  </div>

                  <div name="descr" id="descr" style="display:none;">

                  </div>



                  <div class="ln_solid"></div>

                  <table id="commentTable">
                    <div class="row">

                        <label for="message">댓글</label>
                            <input type="hidden" name="board_id" value="<%=rows.id%>"/>
                            <input type="hidden" name="group_id" value="1"/>
                            <textarea id="message" name="message" class="form-control"></textarea>
                            <span id="commentParentSubmit">댓글달기</span>

                    </div>
                    <tr id ="r1" name="commentParentCode">
                    </tr>
                  <%
                    for(var i=0; i<row.length; i++){
                        var comment=row[i];
                    %>
                      <tr id ="r1" name="commentParentCode">
                        <input type="hidden" name="comment_id" value="<%=comment.id%>"/>
                        <input type="hidden" name="group_id" value="<%=comment.group_id%>"/>
                        <td colspan=2>
                          <strong><%=comment.user_name%></strong><%=comment.write_time%>
                          <a style="curosr:pointer;" id="pDel" name="pDel">삭제</a>

                          <% if(comment.level!=0){%>
                            <p>RE:<%=comment.content%></p>
                          <%}else{%>
                            <p><%=comment.content%></p>
                          <%}%>

                        </td>
                      </tr>

                  <%}%>
                  </table>

                  <div class="form-group" style="float:right;">
                    <%if(rows.user_id==userId){%>
                      <button class="btn btn-defualt"><a href="/board/edit/<%=board_id%>/<%=rows.id%>">글수정</a></button>
                      <button class="btn btn-defualt"><a href="/board/fileEdit/<%=board_id%>/<%=rows.id%>">파일 수정</a></button>
                    <%}%>
                    <button class="btn btn-defualt"><a href="/board/list/<%=rows.board_id%>">목록으로</a></button>
                    <%if(rows.user_id==userId){%>
                    <button class="btn btn-defualt"><a href="/board/delete/<%=rows.id%>/<%=rows.board_id%>">삭제</a></button>
                    <%}%>
                  </div>

              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                성공회대학교 동문회 관리 시스템
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
  </div>
</div>



  <% include ../common/script.ejs %>
<script src="/res/assets/js/Comment/Comment.js"></script>
<script>
  $("span[data-download]").click(function() {
           event.stopPropagation();
           location.href = '/board/download/'+$(this).attr("data-download");
         });
</script>
</body>
</html>
